<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.724665174707-roqrete9q2nru7ncv3u00um586n0qigl</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>CFBundleURLSchemes</string>
			</array>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
